section h1 {
    background-color:rgb(209, 87, 87)
} 
header h1 {
    background-color:gray
}
header{
    text-align:center;
    background-color:rgb(163, 161, 161)
}
header h1:hover {
    color:red;
    font-size: 40px;
}
body {
    font-family: 'Sarabun', sans-serif;
}